<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kunalganglani.com.suveyji">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".Admin" />
        <activity android:name=".UserManagement" />
        <activity android:name=".DeleteUser" />
        <activity android:name=".ViewUser" />
        <activity android:name=".ViewData" />
        <activity android:name=".AddForm" />
        <activity android:name=".Volunteer" />
        <activity android:name=".Campaign1" />
        <activity android:name=".DataDetail" />
        <activity android:name=".VolunteerDetail" />
        <activity android:name=".Analytics" />
        <activity android:name=".SendMessage" />

        <receiver android:name=".NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

         <provider
             android:authorities = "com.example.provider.College"
             android:name="Draft">
         </provider>

        <activity android:name=".SurformDetails"></activity>
    </application>

</manifest>